language: java
jdk:
- oraclejdk7
before_install:
- git fetch --unshallow
- git checkout -qf $TRAVIS_COMMIT
- echo $TRAVIS_COMMIT
- openssl aes-256-cbc -K $encrypted_65bd786e7d9d_key -iv $encrypted_65bd786e7d9d_iv -in build.properties.enc -out build.properties -d
install:
- sudo apt-get update
- sudo apt-get install lib32stdc++6 lib32z1
before_script:
- chmod +x gradlew
script:
- "./gradlew travis"
after_success:
- true
after_failure:
- true
after_script:
- true
